#butao {
     /* Green */
    border: #c07c7c;
    color: rgb(255, 255, 255);
    text-align: auto;
    text-decoration:none;
    font-size: 16px;
    border-radius: 9px;
    background-color: #c07c7c;
    height: 40px;

  }

  ::placeholder {
    color: rgb(192, 192, 192) !important;
}
::-ms-input-placeholder { /* Edge 12 -18 */
  color: rgb(192, 192, 192) !important;
}